// Table.jsx
table {
  border-collapse: collapse;
  table-layout: fixed;
  background: #fff;
  width: 90%;
  border-radius: 10px;
  font-size: 1.35rem;
  box-shadow: var(--shadow-dreamy);
  margin-bottom: 5rem;
  td,
  th {
    border-radius: 10px;
    text-align: left;
    padding: 1.25rem;
    border: 1px solid #ddd;
    text-align: center;
  }
  thead {
    border-radius: 10px;
    font-size: 1.5rem;
    tr {
      th {
        border-top: none;
        border-left: none;
        border-bottom: none;
        &:last-child {
          border-right: none;
        }
        button {
          margin-left: 2rem;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
  }
  tbody {
    font-size: 1.5rem;
    font-weight: 600;
    tr {
      td {
        border-left: none;
        &:last-child {
          border-right: none;
        }
        border-bottom: none;
      }
    }
  }
}

// Sort by menu
.select {
  margin-right: auto;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1.25rem;
  span {
    margin-right: 1rem;
    margin-left: 3rem;
  }
}
