// Global styles!
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500&display=swap');

:root {
  --bg-light: rgb(134, 241, 255);
  --bg-dark: rgb(2, 0, 36);
  --gradient-light: linear-gradient(305deg, rgba(134, 241, 255, 1) 0%, rgba(0, 212, 255, 1) 100%);
  --gradient-dark: linear-gradient(
    75deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
}
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem == 10px
  box-sizing: border-box;
}

body {
  padding: 3rem;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  color: #333;
  background: var(--bg-light);
  background: var(--gradient-light);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
